h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 24px;
}
body {
    /* global settings for all pages */
    background-color: whitesmoke;
    margin: 3rem;

    /* text settings for items */
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.hidden {
    visibility: hidden;
}
.dropdown {
    height: 1rem;
    width: 4rem;
    background-color: red;
}
.link_btn {
    border: solid;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    width: 35vw;

    /* Remove the 'a' tag text */
    text-decoration: none;
    font-style: normal;
    color: black;
    font-size: 32px;
}
.vertical {
    /* A flexbox with the main axis as vertical to space the items vertically along the page */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50vh; /* 25% of "viewport height" (the screen) */
}
.vertical.loading {
    display: none;
}
.horizontal{
    /* A flexbox to align items horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.grammar_heading{
    /* A heading for grammatical information in a table */
    text-transform: uppercase;
    font-size: large;
}
#dropdownbox {
    display: flex;
    justify-content: center;
}
#loadingbox.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
#loadingbox.loaded {
    display: none;
}
#options {
    /* the flexbox for the options button */
    display: flex;
    padding-inline: 40vh;
    justify-content: space-evenly;
    padding: 1em;
}
#options button {
    /* the options buttons*/
    width: 25vh;
    height: 25vh;
    background-color: teal;
    border-color: darkcyan;
    color: white;
    font-size: 72px;
}
#nextbox {
    padding: 1em;
}
#next {
    font-size: 32px;
}
#mark {
    height: 1em; /* a height of one line (even when not displaying) */
}
#mark.Correct {
    color: green;
}
#mark.Incorrect {
    color: red;
}
#bangla_table input{
    text-align: center;
    font-size: x-large;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}