h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
body {
    background-color: whitesmoke;
}
.hidden {
    visibility: hidden;
}
.dropdown {
    height: 1em;
    background-color: pink;
}
#dropdownbox {
    display: flex;
    justify-content: center;
}
#vertical {
    /* A flexbox with the main axis as vertical to space the items vertically along the page */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80vh; /* 50% oåf "viewport height" (the screen) */

    /* text settings for items */
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
#options {
    /* the flexbox for the options button */
    display: flex;
    padding-inline: 40vh;
    justify-content: space-evenly;
    padding: 1em;
}
#options button {
    /* the options buttons*/
    width: 25vh;
    height: 25vh;
    background-color: teal;
    border-color: darkcyan;
    color: white;
    font-size: 72px;
}
#nextbox {
    padding: 1em;
}
#next {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
#mark {
    height: 1em; /* a height of one line (even when not displaying) */
}
#mark.Correct {
    color: green;
}
#mark.Incorrect {
    color: red;
}